@font-face {
    font-family: Helvetica;
    src: url(font/Helvetica.woff);
}
html, body{
    padding: 0;
    margin: 0;
    background-color: #4facdb;
    height: 100%;
    overflow: hidden;
    font-family: Helvetica, sans-serif;
}
.expl{
    height: 59%;
}
.logo{
    margin-left: 40vw;
    margin-top: 10vh;
    animation-name: placelogo;
    animation-duration: 0.7s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}
#explication{
    color: white;
    font-size: 0.8em;
    margin-top: 15%;
    width: 100%;
    margin-left: 2%;
    display: inline-block;
    animation-name: appear;
    animation-duration: 2s;
    animation-delay: 3.5s;
    animation-fill-mode: both;
}
    /*Ensemble de paragraphe*/
#texte1{
    display: inline-block;
    margin-top: 5vh;
    width: 100%;
    animation-name: fadetext;
    animation-duration: 0.5s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    color: white
}
#texte2{
    display: none;
    width: 100%;
    color: white;
    margin-top: -10%;
    animation-name: fadetext;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    
}
#texte3{
    display: none;
    width: 100%;
    color: white;
    margin-top: -10%;
    animation-name: fadetext;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}
#texte4{
    display: none;
    width: 100%;
    color: white;
    font-size: 0.7em;
    margin-top: 7.5%;
} 
    /*Paragraphes*/
.p1{
    
    font-weight: bold;
    padding: 0;
    margin: 0;
    text-align: center;    
}
.p2{
    
    font-size: 1.8em;
    padding: 0;
    margin: 0;
    text-align: center;

}

    /*Lignes*/
#l1{
    animation-name: slide;
    animation-duration: 0.7s;
    animation-fill-mode: both;
}
#l2{
    animation-name: slide;
    animation-duration: 0.7s;
    animation-delay: 0.1s;
    animation-fill-mode: both;
}
#l3{
    animation-name: slide;
    animation-duration: 0.7s;
    animation-delay: 0.3s;
    animation-fill-mode: both;
}
#l4{
    animation-name: slide;
    animation-duration: 0.7s;
    animation-delay: 0.1s;
    animation-fill-mode: both;
}
#l5{
    margin-bottom: 10%;
    animation-name: slide;
    animation-duration: 0.7s;
    animation-delay: 0.3s;
    animation-fill-mode: both;
}
#l6{
    font-size:1em;
    animation-name: slide;
    animation-duration: 0.7s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}
#l7{
    font-size: 3em;
    animation-name: slide;
    animation-duration: 0.7s;
    animation-delay: 0.7s;
    animation-fill-mode: both;
}
#l8{
    font-size: 1.8em;
    margin-bottom: 2.5%;
    animation-name: slide;
    animation-duration: 0.7s;
    animation-delay: 0.1s;
    animation-fill-mode: both;
}
#l9{
    font-size: 2.6em;
    animation-name: slide;
    animation-duration: 0.7s;
    animation-delay: 0.3s;
    animation-fill-mode: both;
}
#l10{
    font-size: 1.8em;
    margin-bottom: 2.5%;
    animation-name: slide;
    animation-duration: 0.7s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}
#l11{
    font-size: 2.2em;
    animation-name: slide;
    animation-duration: 0.7s;
    animation-delay: 0.7s;
    animation-fill-mode: both;
}
#l12{
    animation-name: appear;
    animation-duration: 0.7s;
    animation-delay: 0.2s;
    animation-fill-mode: both;
}
#l13{
    animation-name: appear;
    animation-duration: 0.7s;
    animation-delay: 0.3s;
    animation-fill-mode: both;
}
#l14{
    animation-name: appear;
    animation-duration: 0.7s;
    animation-delay: 0.4s;
    animation-fill-mode: both;
    margin-bottom: 15%;
}
#link{
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 50%;
    color: white;
    text-decoration: none;
    font-size: 1.6em;
    padding: 5px 8px;
    border: 1px solid white;
    animation-name: appear;
    animation-duration: 0.7s;
    animation-delay: 0.6s;
    animation-fill-mode: both;
}#link:hover{
    color: #4facdb;
    background-color: white;
    transition: 1s ease;
}
.vid{
    width: 100%;
    z-index: 2;
}
#map{
    display: none;    
    width: 100%;
    height: 45vh;
    z-index: 10;
    animation-name: showmap;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: both;    
}
    /*Animation*/
@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes fadetext {
  0% {
    opacity: 1;
      display: block;
  }
  100% {
    opacity: 0;
  }
}
@keyframes placelogo {
     0% {
    transform: scale(1.0) translate(0%,0%);
  }
  100% {
    transform: scale(0.7) translate(-275%, -85%);
  } 
}
@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes showmap {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-95%);
    }
}